.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.content-wrapper{
    width: 100%;
}

.output-outer, .code-outer{
    width: 40%;
    float: left;

}

.output {
    border: 1px solid #89BFEA;
    height: 312px;
    border-radius: 3px;
}